transformers==4.43.4
bitsandbytes
datasets==3.1.0
fastapi
fire
galore_torch
gradio
groq
jieba
matplotlib
MoD
modelscope
networkx
nltk
numpy
openai
packaging
pandas
peft
Pillow
psutil
pydantic
pynauty
pysat
pytest
PyYAML
Requests
rouge_chinese
safetensors
scikit_learn
setuptools
sse_starlette
torch
torchmetrics
tqdm
trl
typing_extensions
uvicorn
vllm
